.contenedor-maps {
    display: flex;
    color: #f2e9e4;
    height: 500px;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    color: #fff;

    .h2 {
        margin: 50px 100px;
        border-radius: 10px;
        padding: 4px;
        margin-top: 0;
    }
}


.registro {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    color: #fff;
    height: 900px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
  
  