
.formulario {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    color: #fff;
    width: 95%;//

    .h2 {
        margin: 50px 100px;
        border-radius: 10px;
        padding: 4px;
        margin-top: 0;
    }

    input{
        width: 95%;
        margin-top: 2.5rem;
    }

    
}

.textarea-formulario #comentario{
    display: flex;
    width: 95%;
    align-items: center;
}



.registro {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    color: #fff;
    height: 900px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
//  
//******************************//