
.button-formulario {
    background-color: rgb(214, 218, 8);
    padding: 3px 14px;
    border-radius: 9px;
    transition: 300ms;
    
}


    



.botones-camisetas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.btn-outline-success {
    margin-top: 1rem;
}

.boton-crearcuenta {
    text-align: center;
    margin-top: 1rem;
}