.card-body {
    background-color: rgba(0, 29, 61, 0.8549019608);
    display: flex;
    flex-direction: column;
   transition: transform 0.3s ease; // Suaviza la animación 


}





/******* La imagen hace zoom al pasar el cursor 
            Seccion card "index"******************/
// Elimina zoom general del card 
.card {
    transition: transform 0.5s ease;
  }
  
  .card:hover {
    transform: scale(1.05); // el valor que yo prefiera 
    z-index: 10; // Para que no quede tapada si hay otros elementos cerca 
  }
  

/***********************************************************/
//******************************************ICONOS PRUEBA***************/
.cart-icon {
    font-size: 34px;         // tamaño del ícono
    margin-left: 1rem;       // separa del contenido anterior (como un link o texto)
    margin-right: 0.5rem;    // espacio con lo que viene después
    padding: 0.25rem;        // pequeño relleno para evitar que se vea pegado
    color: rgb(255, 255, 255);     
    cursor: pointer;
    transition: transform 0.2s;
  
    &:hover {
      transform: scale(1.1); // efecto sutil al pasar el mouse
      color: #ffd700;        // cambia color al pasar el mouse
    }
  }

