.card-body {
    background-color: rgba(0, 29, 61, 0.8549019608);
    display: flex;
    flex-direction: column;
   transition: transform 0.3s ease; /* Suaviza la animación */


}


.card-body:hover {
    transform: scale(1.1); /* Hace un zoom del 10% */
}


/******* La imagen hace zoom al pasar el cursor 
            Seccion card "index"******************/
/* Elimina zoom general del card */
.card {
    transition: transform 0.5s ease;
  }
  
  .card:hover {
    transform: scale(1.05); /* O el valor que prefieras */
    z-index: 10; /* Para que no quede tapada si hay otros elementos cerca */
  }
  

/***********************************************************/


