@import "./base/reset";
@import "./layout/header";
@import "./component/button";
@import "./component/carousel";
@import "./base/typography";
@import "./layout/forms";
@import "./component/card";
@import "./layout/footer.scss";
//************************************************//


  
  
.list-group-item {
    background-color: rgba(0, 29, 61, 0.8549019608);
}

  
.content {
    grid-area: content;
    grid-column-start: 1;
    grid-row-start: 1;
}
   
  
.opiniones {
    grid-area: opiniones;
    background-color: #2c4561;
}
  

//****************************************************//
/* 📱 Mobile S (320px) y menores */
@media (max-width: 375px) {
    .social-icon {
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: start;
      padding: 0 0.5rem;
    }
  
    .icon {
      font-size: 24px;
      margin: 0 8px;
    }
  
    .footer-nuevo {
      flex-direction: column;
      padding: 1rem;
      text-align: center;
    }
  
    .menu {
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
    }
  
    .menu-icon {
      margin: 8px 0;
      font-size: 18px;
    }
  }
  

  

//sass --watch styles/scss/main.scss styles/css/style.css//