@import "./base/reset";
@import "./layout/header";
@import "./component/button";
@import "./component/carousel";
@import "./base/typography";
@import "./layout/forms";
@import "./component/card";
@import "./layout/footer.scss";







  
  
.list-group-item {
    background-color: rgba(0, 29, 61, 0.8549019608);
}

  
.content {
    grid-area: content;
    grid-column-start: 1;
    grid-row-start: 1;
}
  

  
  
  
.opiniones {
    grid-area: opiniones;
    background-color: #2c4561;
}
  

  

  

  